{
.appVersion = "3300";
copyright = "Copyright 2010-2024 The Amiri Project Authors (https://github.com/aliftype/amiri-next).";
customParameters = (
{
name = hheaAscender;
value = 1124;
},
{
name = hheaDescender;
value = -634;
},
{
name = hheaLineGap;
value = 0;
},
{
name = typoAscender;
value = 1124;
},
{
name = typoDescender;
value = -634;
},
{
name = typoLineGap;
value = 0;
},
{
name = winAscent;
value = 1850;
},
{
name = winDescent;
value = 910;
},
{
name = underlinePosition;
value = -512;
},
{
name = fsType;
value = (
);
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Disable Last Change";
value = 1;
},
{
name = "Don't use Production Names";
value = 1;
},
{
name = "Propagate Anchors";
value = 0;
},
{
name = "Enforce Compatibility Check";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
},
{
name = description;
value = "Amiri is a classical Arabic typeface in Naskh style for typesetting books and other running text. Its design is a revival of the beautiful typeface pioneered in early 20th century by Bulaq Press in Cairo, also known as Amiria Press, after which the font is named.";
},
{
name = license;
value = "This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.\012\012This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.\012\012You should have received a copy of the GNU Affero General Public License along with this program.  If not, see <https://www.gnu.org/licenses/>";
},
{
name = licenseURL;
value = "https://www.gnu.org/licenses/agpl-3.0.html";
},
{
name = sampleText;
value = "صِفْ خَلْقَ خَوْدٍ كَمِثْلِ ٱلشَّمْسِ إِذْ بَزَغَتْ يَحْظَىٰ ٱلضَّجِيعُ بِهَا نَجْلَاءَ مِعْطَارِ.";
},
{
name = vendorID;
value = ALIF;
},
{
name = Axes;
value = (
{
Name = Weight;
Tag = wght;
}
);
}
);
date = "2010-05-07 21:08:01 +0000";
designer = "Khaled Hosny";
designerURL = "http://www.amirifont.org";
disablesAutomaticAlignment = 1;
familyName = "Amiri Next";
fontMaster = (
{
ascender = 1124;
capHeight = 646;
customParameters = (
{
name = postscriptFullName;
value = Amiri;
},
{
name = postscriptFontName;
value = "Amiri-Regular";
},
{
name = postscriptWeightName;
value = Regular;
}
);
descender = -634;
id = "7FE84AD5-D318-40C5-A81A-3CDC73FF77D2";
visible = 1;
weightValue = 400;
xHeight = 433;
},
{
ascender = 1124;
capHeight = 646;
customParameters = (
{
name = postscriptFullName;
value = "Amiri Bold";
},
{
name = postscriptFontName;
value = "Amiri-Bold";
},
{
name = postscriptWeightName;
value = Bold;
},
{
name = weightClass;
value = 700;
}
);
descender = -634;
iconName = SemiBold;
id = "037FF2D3-C03F-44B0-90AB-89AFD43EFA27";
weight = Bold;
weightValue = 700;
xHeight = 433;
}
);
instances = (
{
interpolationWeight = 400;
instanceInterpolations = {
"7FE84AD5-D318-40C5-A81A-3CDC73FF77D2" = 1;
};
name = Regular;
},
{
customParameters = (
{
name = "Remove Glyphs";
value = (
"u1EE*"
);
}
);
interpolationWeight = 700;
instanceInterpolations = {
"037FF2D3-C03F-44B0-90AB-89AFD43EFA27" = 1;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = Bold;
}
);
manufacturerURL = "http://www.amirifont.org";
unitsPerEm = 1000;
versionMajor = 0;
versionMinor = 0;
}
