(
"hamza-ar",
"hamza-ar.medi",
"hamza-ar.float",
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.KafAlf",
"alef-ar.fina.KafMemAlf",
"alef-ar.fina.LamAlfFina",
"alef-ar.fina.LamAlfIsol",
"alef-ar.fina.MemAlfFina",
"alef-ar.fina.Narrow",
"alef-ar.fina.Tatweel",
"alef-ar.fina.Wide",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.fina.BaaBaaIsol",
"behDotless-ar.medi",
"behDotless-ar.medi.BaaBaaHaaInit",
"behDotless-ar.medi.BaaBaaInit",
"behDotless-ar.medi.BaaBaaMemInit",
"behDotless-ar.medi.BaaBaaYaa",
"behDotless-ar.medi.BaaHehMedi",
"behDotless-ar.medi.BaaMemAlfFina",
"behDotless-ar.medi.BaaMemFina",
"behDotless-ar.medi.BaaNonFina",
"behDotless-ar.medi.BaaRaaFina",
"behDotless-ar.medi.BaaYaaFina",
"behDotless-ar.medi.High",
"behDotless-ar.medi.KafBaaInit",
"behDotless-ar.medi.KafBaaMedi",
"behDotless-ar.medi.LamBaaMemInit",
"behDotless-ar.medi.SenBaaMemInit",
"behDotless-ar.medi.YaaBari",
"behDotless-ar.init",
"behDotless-ar.init.AboveHaa",
"behDotless-ar.init.BaaBaaHaaInit",
"behDotless-ar.init.BaaBaaHeh",
"behDotless-ar.init.BaaBaaIsol",
"behDotless-ar.init.BaaBaaMemInit",
"behDotless-ar.init.BaaBaaYaa",
"behDotless-ar.init.BaaBaaYaaBari",
"behDotless-ar.init.BaaDal",
"behDotless-ar.init.BaaHaaInit",
"behDotless-ar.init.BaaHaaMemInit",
"behDotless-ar.init.BaaHehInit",
"behDotless-ar.init.BaaMemHaaInit",
"behDotless-ar.init.BaaMemInit",
"behDotless-ar.init.BaaMemIsol",
"behDotless-ar.init.BaaNonIsol",
"behDotless-ar.init.BaaRaaIsol",
"behDotless-ar.init.BaaSenAltInit",
"behDotless-ar.init.BaaSenInit",
"behDotless-ar.init.BaaYaaIsol",
"behDotless-ar.init.High",
"behDotless-ar.init.Wide",
"behDotless-ar.init.YaaBari",
"hah-ar",
"hah-ar.fina",
"hah-ar.fina.AboveHaaIsol",
"hah-ar.fina.AboveHaaIsol2",
"hah-ar.medi",
"hah-ar.medi.1LamHaaHaaInit",
"hah-ar.medi.2LamHaaHaaInit",
"hah-ar.medi.AynHaaInit",
"hah-ar.medi.BaaBaaHaaInit",
"hah-ar.medi.BaaHaaMemInit",
"hah-ar.medi.BaaMemHaaInit",
"hah-ar.medi.FaaHaaInit",
"hah-ar.medi.Finjani",
"hah-ar.medi.HaaHaaInit",
"hah-ar.medi.LamHaaMemInit",
"hah-ar.medi.LamLamHaaInit",
"hah-ar.medi.LamMemHaaInit",
"hah-ar.medi.MemHaaMemInit",
"hah-ar.medi.SadHaaInit",
"hah-ar.init",
"hah-ar.init.AboveHaa",
"hah-ar.init.Finjani",
"hah-ar.init.HaaHaaInit",
"hah-ar.init.HaaMemInit",
"hah-ar.init.HaaRaaIsol",
"hah-ar.init.HaaYaaIsol",
"hah-ar.init.YaaBari",
"dal-ar",
"dal-ar.fina",
"dal-ar.fina.BaaDal",
"dal-ar.fina.KafDal",
"dal-ar.fina.LamDal",
"reh-ar",
"reh-ar.fina",
"reh-ar.fina.BaaRaaFina",
"reh-ar.fina.BaaRaaIsol",
"reh-ar.fina.HaaRaaIsol",
"reh-ar.fina.KafRaaFina",
"reh-ar.fina.KafRaaIsol",
"reh-ar.fina.LamRaaIsol",
"reh-ar.fina.MemRaaIsol",
"reh-ar.fina.PostTooth",
"seen-ar",
"seen-ar.fina",
"seen-ar.fina.BaaSen",
"seen-ar.medi",
"seen-ar.medi.BaaSenAltInit",
"seen-ar.medi.BaaSenInit",
"seen-ar.medi.PreYaa",
"seen-ar.init",
"seen-ar.init.AboveHaa",
"seen-ar.init.PreYaa",
"seen-ar.init.SenBaaMemInit",
"seen-ar.init.SenHaaInit",
"seen-ar.init.SenMemInit",
"seen-ar.init.YaaBari",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.medi.PreYaa",
"sad-ar.init",
"sad-ar.init.AboveHaa",
"sad-ar.init.PreYaa",
"sad-ar.init.SadHaaInit",
"sad-ar.init.SadMemInit",
"sad-ar.init.SenBaaMemInit",
"sad-ar.init.YaaBari",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"tah-ar.init.YaaBari",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.medi.AynYaaFina",
"ain-ar.init",
"ain-ar.init.AboveHaa",
"ain-ar.init.AynHaaInit",
"ain-ar.init.AynMemInit",
"ain-ar.init.AynYaaIsol",
"ain-ar.init.Finjani",
"ain-ar.init.YaaBari",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.medi.FaaYaaFina",
"fehDotless-ar.init",
"fehDotless-ar.init.FaaHaaInit",
"fehDotless-ar.init.FaaMemInit",
"fehDotless-ar.init.FaaYaaIsol",
"fehDotless-ar.init.YaaBari",
"qafDotless-ar",
"qafDotless-ar.fina",
"qafDotless-ar.fina.LamQafFina",
"kafDotless-ar",
"kafDotless-ar.fina",
"kafDotless-ar.fina.KafKafFina",
"kafDotless-ar.fina.LamKafFina",
"kafDotless-ar.fina.LamKafIsol",
"kaf-ar.medi",
"kaf-ar.medi.KafBaaMedi",
"kaf-ar.medi.KafHeh",
"kaf-ar.medi.KafLam",
"kaf-ar.medi.KafMemAlf",
"kaf-ar.medi.KafMemFina",
"kaf-ar.medi.KafMemMedi",
"kaf-ar.medi.KafRaaFina",
"kaf-ar.medi.KafYaaFina",
"kaf-ar.medi.PreHeh",
"kaf-ar.init",
"kaf-ar.init.AboveHaa",
"kaf-ar.init.KafBaaInit",
"kaf-ar.init.KafHeh",
"kaf-ar.init.KafLam",
"kaf-ar.init.KafMemAlf",
"kaf-ar.init.KafMemInit",
"kaf-ar.init.KafMemIsol",
"kaf-ar.init.KafRaaIsol",
"kaf-ar.init.KafYaaIsol",
"kaf-ar.init.PreHeh",
"kaf-ar.init.YaaBari",
"keheh-ar",
"keheh-ar.alt",
"keheh-ar.alt.fina",
"keheh-ar.fina",
"keheh-ar.fina.KafKafFina",
"keheh-ar.fina.LamKafFina",
"keheh-ar.fina.LamKafIsol",
"keheh-ar.medi",
"keheh-ar.medi.KafBaaMedi",
"keheh-ar.medi.KafHeh",
"keheh-ar.medi.KafLam",
"keheh-ar.medi.KafMemAlf",
"keheh-ar.medi.KafMemFina",
"keheh-ar.medi.KafMemMedi",
"keheh-ar.medi.KafRaaFina",
"keheh-ar.medi.KafYaaFina",
"keheh-ar.medi.PreHeh",
"keheh-ar.init",
"keheh-ar.init.AboveHaa",
"keheh-ar.init.KafBaaInit",
"keheh-ar.init.KafHeh",
"keheh-ar.init.KafLam",
"keheh-ar.init.KafMemAlf",
"keheh-ar.init.KafMemInit",
"keheh-ar.init.KafMemIsol",
"keheh-ar.init.KafRaaIsol",
"keheh-ar.init.KafYaaIsol",
"keheh-ar.init.PreHeh",
"keheh-ar.init.YaaBari",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"ng-ar",
"lam-ar",
"lam-ar.fina",
"lam-ar.fina.KafLam",
"lam-ar.fina.KafMemLam",
"lam-ar.fina.LamLamFina",
"lam-ar.fina.LamLamIsol",
"lam-ar.medi",
"lam-ar.medi.FaLellah",
"lam-ar.medi.KafLam",
"lam-ar.medi.KafLamAlf",
"lam-ar.medi.KafLamHehIsol",
"lam-ar.medi.KafLamMemFina",
"lam-ar.medi.KafLamMemMedi",
"lam-ar.medi.KafLamYaa",
"lam-ar.medi.KafMemLam",
"lam-ar.medi.LamAlfFina",
"lam-ar.medi.LamHeh",
"lam-ar.medi.LamLamAlefFina",
"lam-ar.medi.LamLamAlfIsol",
"lam-ar.medi.LamLamHaaInit",
"lam-ar.medi.LamLamHehFina",
"lam-ar.medi.LamLamHehIsol",
"lam-ar.medi.LamLamInit",
"lam-ar.medi.LamLamMedi",
"lam-ar.medi.LamLamMedi2",
"lam-ar.medi.LamLamMemInit",
"lam-ar.medi.LamLamMemMedi",
"lam-ar.medi.LamLamYaaFina",
"lam-ar.medi.LamLamYaaIsol",
"lam-ar.medi.LamMemFina",
"lam-ar.medi.LamMemMedi",
"lam-ar.medi.LamQafFina",
"lam-ar.medi.LamWawFina",
"lam-ar.medi.LamYaaFina",
"lam-ar.medi.Lellah",
"lam-ar.medi.Lellah2",
"lam-ar.init",
"lam-ar.init.LamAlfIsol",
"lam-ar.init.LamBaaMemInit",
"lam-ar.init.LamHaaHaaInit",
"lam-ar.init.LamHaaInit",
"lam-ar.init.LamHaaMemInit",
"lam-ar.init.LamHeh",
"lam-ar.init.LamHehInit",
"lam-ar.init.LamLamHaaInit",
"lam-ar.init.LamLamInit",
"lam-ar.init.LamMemHaaInit",
"lam-ar.init.LamMemInit",
"lam-ar.init.LamMemIsol",
"lam-ar.init.LamRaaIsol",
"lam-ar.init.LamYaaIsol",
"lam-ar.init.Lellah",
"lam-ar.init.YaaBari",
"meem-ar",
"meem-ar.fina",
"meem-ar.fina.BaaMemFina",
"meem-ar.fina.KafMemFina",
"meem-ar.fina.KafMemFinaExtended",
"meem-ar.fina.KafMemIsol",
"meem-ar.fina.KafMemIsolExtended",
"meem-ar.fina.LamMemFina",
"meem-ar.fina.LamMemFinaExtended",
"meem-ar.fina.PostTooth",
"meem-ar.medi",
"meem-ar.medi.AlfPostTooth",
"meem-ar.medi.BaaBaaMemInit",
"meem-ar.medi.BaaMemAlfFina",
"meem-ar.medi.BaaMemHaaInit",
"meem-ar.medi.BaaMemInit",
"meem-ar.medi.KafMemAlf",
"meem-ar.medi.KafMemMedi",
"meem-ar.medi.KafMemMediTatweel",
"meem-ar.medi.LamBaaMemInit",
"meem-ar.medi.LamHaaMemInit",
"meem-ar.medi.LamMemHaaInit",
"meem-ar.medi.LamMemInit",
"meem-ar.medi.LamMemInitTatweel",
"meem-ar.medi.LamMemMedi",
"meem-ar.medi.MemAlfFina",
"meem-ar.medi.SenBaaMemInit",
"meem-ar.medi.SenMemInit",
"meem-ar.init",
"meem-ar.init.AboveHaa",
"meem-ar.init.MemHaaInit",
"meem-ar.init.MemHaaMemInit",
"meem-ar.init.MemHehInit",
"meem-ar.init.MemMemInit",
"meem-ar.init.MemRaaIsol",
"meem-ar.init.MemYaaIsol",
"meem-ar.init.YaaBari",
"noonghunna-ar",
"noonghunna-ar.fina",
"noonghunna-ar.fina.BaaNonFina",
"noonghunna-ar.fina.BaaNonIsol",
"heh-ar",
"heh-ar.fina",
"heh-ar.fina.KafHeh",
"heh-ar.fina.LamHeh",
"heh-ar.fina.Lellah",
"heh-ar.medi",
"heh-ar.medi.BaaHehMedi",
"heh-ar.medi.HehYaaFina",
"heh-ar.medi.LamHehInit",
"heh-ar.medi.PostTooth",
"heh-ar.medi.PostToothHehYaa",
"heh-ar.init",
"heh-ar.init.AboveHaa",
"heh-ar.init.HehHaaInit",
"heh-ar.init.HehMemInit",
"heh-ar.init.HehYaaIsol",
"heh-ar.init.YaaBari",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.fina.KafHeh",
"hehgoal-ar.fina.LamHeh",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"hehDoachashmee-ar.init.YaaBari",
"waw-ar",
"waw-ar.fina",
"waw-ar.fina.LamWawFina",
"kirghizoe-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.BaaBaaYaa",
"alefMaksura-ar.fina.BaaYaaFina",
"alefMaksura-ar.fina.FaaYaaFina",
"alefMaksura-ar.fina.KafYaaFina",
"alefMaksura-ar.fina.KafYaaIsol",
"alefMaksura-ar.fina.LamYaaFina",
"alefMaksura-ar.fina.PostTooth",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarree-ar.fina.PostAscender",
"yehbarree-ar.fina.PostAyn",
"yehbarree-ar.fina.PostTooth",
"yehbarree-ar.fina.PostToothFina",
"yehbarreeHamzaabove-ar",
"yehbarreeThreeabove-ar",
"yehRohingya-ar",
"ae-ar",
"ae-ar.fina",
"ae-ar.fina.KafHeh",
"ae-ar.fina.LamHeh",
"kashida-ar",
"kashida-ar.05",
"kashida-ar.1",
"kashida-ar.2",
"kashida-ar.3",
"kashida-ar.4",
"kashida-ar.5",
"kashida-ar.6",
"kashida-ar.7",
"kashida-ar.LamKaf.1",
"kashida-ar.long1",
"wawSmall-ar",
"wawSmall-ar.low",
"yehSmall-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefWavyhamzaabove-ar",
"alefWavyhamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"highhamzaAlef-ar",
"beh-ar",
"peh-ar",
"beeh-ar",
"beheh-ar",
"teh-ar",
"tehRing-ar",
"tehThreedotsdown-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"teheh-ar",
"behThreedotshorizontalbelow-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"jeem-ar",
"tcheh-ar",
"tcheheh-ar",
"tchehDotabove-ar",
"nyeh-ar",
"dyeh-ar",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsabove-ar",
"hahThreedotsupbelow-ar",
"khah-ar",
"hahTahbelow-ar",
"hahTahTwodotshorizontalabove-ar",
"hahFourbelow-ar",
"thal-ar",
"ddal-ar",
"dahal-ar",
"ddahal-ar",
"dalRing-ar",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dul-ar",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"zain-ar",
"rreh-ar",
"rehv-ar",
"rehRing-ar",
"rehDotbelow-ar",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehTwodots-ar",
"jeh-ar",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehStroke-ar",
"rehTwodotsverticalabove-ar",
"rehHamzaabove-ar",
"rehTwodotshorizontalaboveTahabove-ar",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheen-ar",
"sheenDotbelow-ar",
"sheenThreedotsbelow-ar",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"dad-ar",
"dadDotbelow-ar",
"tahThreedots-ar",
"zah-ar",
"ainThreedots-ar",
"ghain-ar",
"ghainDotbelow-ar",
"feh-ar",
"veh-ar",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"fehThreedotsbelow-ar",
"peheh-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafThreedotsabove-ar",
"qafAfrican-ar",
"kaf-ar",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"gaf-ar",
"gafRing-ar",
"gafThreedots-ar",
"kafRing-ar",
"kafRing-ar.alt",
"kafDotabove-ar",
"kafTwodotshorizontalabove-ar",
"kafThreedotsbelow-ar",
"gafTwodotsbelow-ar",
"ngoeh-ar",
"gueh-ar",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"noon-ar",
"noonDotbelow-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"noonAfrican-ar",
"hehHamzaabove-ar",
"hehgoalHamzaabove-ar",
"hehVinvertedabove-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"wawring-ar",
"wawTwodots-ar",
"wawDotabove-ar",
"wawHamzaabove-ar",
"wawTwoabove-ar",
"wawThreeAbove-ar",
"kirghizoe-ar",
"oe-ar",
"u-ar",
"yu-ar",
"kirghizyu-ar",
"ve-ar",
"alefTwoabove-ar",
"alefThreeabove-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yehVabove-ar",
"yehFarsiVinverted-ar",
"yehFarsi-ar",
"yehFarsiTwodotsabove-ar",
"yehFarsiThreedotsabove-ar",
"yehFarsiTwoabove-ar",
"yehFarsiThreeabove-ar",
"yehFarsiFourbelow-ar",
"yehTail-ar",
"yehKashmiri-ar",
"e-ar",
"yehThreedotsbelow-ar",
"yehbarreeTwoabove-ar",
"highhamzaWaw-ar",
"uHamzaabove-ar",
"highhamzaYeh-ar",
"seenFourdotsabove-ar",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"meemDotabove-ar",
"meemDotbelow-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"lamBar-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"hahTahabove-ar",
"seenFourabove-ar",
"seenVinvertedabove-ar",
"behMeemabove-ar",
"pehMeemabove-ar",
"rehNoonabove-ar",
"tehTehabove-ar",
"yehTwodotsbelowNoonabove-ar",
uniFDF2,
uniFDF4,
uniFDFA,
uniFDFB,
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar.medium",
"one-ar.medium",
"two-ar.medium",
"three-ar.medium",
"four-ar.medium",
"five-ar.medium",
"six-ar.medium",
"seven-ar.medium",
"eight-ar.medium",
"nine-ar.medium",
"zeroFarsi-ar.medium",
"oneFarsi-ar.medium",
"twoFarsi-ar.medium",
"threeFarsi-ar.medium",
"fourFarsi-ar.medium",
"fiveFarsi-ar.medium",
"sixFarsi-ar.medium",
"sevenFarsi-ar.medium",
"eightFarsi-ar.medium",
"nineFarsi-ar.medium",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"oneFarsi-ar",
"twoFarsi-ar",
"threeFarsi-ar",
"fourFarsi-ar",
"fiveFarsi-ar",
"sixFarsi-ar",
"sevenFarsi-ar",
"eightFarsi-ar",
"nineFarsi-ar",
"zero-ar.numr",
"one-ar.numr",
"two-ar.numr",
"three-ar.numr",
"four-ar.numr",
"five-ar.numr",
"six-ar.numr",
"seven-ar.numr",
"eight-ar.numr",
"nine-ar.numr",
"zeroFarsi-ar.numr",
"oneFarsi-ar.numr",
"twoFarsi-ar.numr",
"threeFarsi-ar.numr",
"fourFarsi-ar.numr",
"fiveFarsi-ar.numr",
"sixFarsi-ar.numr",
"sevenFarsi-ar.numr",
"eightFarsi-ar.numr",
"nineFarsi-ar.numr",
"zero-ar.prop",
"one-ar.prop",
"two-ar.prop",
"three-ar.prop",
"four-ar.prop",
"five-ar.prop",
"six-ar.prop",
"seven-ar.prop",
"eight-ar.prop",
"nine-ar.prop",
"zeroFarsi-ar.prop",
"oneFarsi-ar.prop",
"twoFarsi-ar.prop",
"threeFarsi-ar.prop",
"fourFarsi-ar.prop",
"fiveFarsi-ar.prop",
"sixFarsi-ar.prop",
"sevenFarsi-ar.prop",
"eightFarsi-ar.prop",
"nineFarsi-ar.prop",
"zero-ar.small",
"one-ar.small",
"two-ar.small",
"three-ar.small",
"four-ar.small",
"five-ar.small",
"six-ar.small",
"seven-ar.small",
"eight-ar.small",
"nine-ar.small",
"zeroFarsi-ar.small",
"oneFarsi-ar.small",
"twoFarsi-ar.small",
"threeFarsi-ar.small",
"fourFarsi-ar.small",
"fiveFarsi-ar.small",
"sixFarsi-ar.small",
"sevenFarsi-ar.small",
"eightFarsi-ar.small",
"nineFarsi-ar.small",
"fourFarsi-ar.urd.medium",
"sixFarsi-ar.urd.medium",
"sevenFarsi-ar.urd.medium",
"fourFarsi-ar.urd",
"sixFarsi-ar.urd",
"sevenFarsi-ar.urd",
"fourFarsi-ar.urd.numr",
"sixFarsi-ar.urd.numr",
"sevenFarsi-ar.urd.numr",
"fourFarsi-ar.urd.prop",
"sixFarsi-ar.urd.prop",
"sevenFarsi-ar.urd.prop",
"fourFarsi-ar.urd.small",
"sixFarsi-ar.urd.small",
"sevenFarsi-ar.urd.small",
fraction,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
zeroWidthNoBreakSpace,
narrownbspace,
lefttorightembedding,
lefttorightmark,
lefttorightoverride,
lineseparator,
paragraphseparator,
popdirectionalformatting,
righttoleftembedding,
righttoleftmark,
righttoleftoverride,
.notdef,
"tahbelowSymbol-ar",
"dotaboveSymbol-ar",
"dotbelowSymbol-ar",
"twodotsverticalaboveSymbol-ar",
"twodotsverticalbelowSymbol-ar",
"twodotshorizontalaboveSymbol-ar",
"twodotshorizontalbelowSymbol-ar",
"threedots-ar",
"threedotsdownaboveSymbol-ar",
"threedotsdownbelowSymbol-ar",
"threedotsupaboveSymbol-ar",
"threedotsupbelowSymbol-ar",
"fourdotsaboveSymbol-ar",
"fourdotsbelowSymbol-ar",
"doubleverticalbarbelowSymbol-ar",
"ringSymbol-ar",
"hizb-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"number-ar.3",
"number-ar.4",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"pagenumber-ar.3",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"endofayah-ar",
"parenleft-ar",
"parenright-ar",
period,
exclam,
commareversed,
reversedsemicolon,
slash,
backslash,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
guillemetleft,
guillemetright,
"mark-ar",
"samvat-ar",
"bismillah-ar",
"sajdah-ar",
"sindhipostpositionmen-ar",
"ray-ar",
"afghani-ar",
rial,
"percent-ar",
"cuberoot-ar",
"fourthroot-ar",
"perthousand-ar",
"pertenthousand-ar",
bar,
brokenbar,
at.ara,
ampersand.ara,
radical.rtlm,
dottedCircle,
"rehHahabove-ar",
"rehDadabove-ar",
"sallallahouAlayheWassallamcomb-ar",
"alayheAssallamcomb-ar",
"takhallusabove-ar",
"tahabove-ar",
"tahabove-ar.alt",
"tahbelow-ar",
"alefLamYehabove-ar",
"zainabove-ar",
"fathasmall-ar",
"dammasmall-ar",
"kasrasmall-ar",
"dotabove-ar",
"dotbelow-ar",
"dotbelow-ar.l",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotsverticalbelow-ar.l",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow-ar.l",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdownbelow-ar.l",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"threedotsupbelow-ar.l",
"threedotshorizontalabove-ar",
"threedotshorizontalbelow-ar",
"threedotshorizontalbelow-ar.l",
"fourdotsabove-ar",
"fourdotsbelow-ar",
"fourdotsbelow-ar.l",
"stroke-ar",
"fourabove-ar",
"fourbelow-ar",
"threeabove-ar",
"twoabove-ar",
"wasla-ar",
"wavyhamzaabove-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"gafsarkashabove-ar.alt1",
"gafsarkashabove-ar.alt2",
"wavyhamzabelow-ar",
"alefabove-ar",
"alefabove-ar.alt",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"fathatan-ar.small",
"dammatan-ar",
"dammatan-ar.small",
"kasratan-ar",
"kasratan-ar.small",
"fatha-ar",
"fatha-ar.small",
"fatha-ar.small2",
"damma-ar",
"damma-ar.small",
"kasra-ar",
"kasra-ar.small",
"kasra-ar.small2",
"shadda-ar",
"sukun-ar",
"sukun-ar.small2",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"dammainverted-ar.small",
"dammainverted-ar.urd",
"fathaHorizont-ar",
"vabove-ar",
"vbelow-ar",
"vbelow-ar.low",
"vinvertedabove-ar",
"vinvertedbelow-ar",
"vinvertedbelow-ar.low",
"dotvowelbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"meemabove-ar",
"meemStopabove-ar",
"meemStopabove-ar.alt",
"lamAlefabove-ar",
"jeemabove-ar",
"threedotsabove-ar",
"seenabove-ar",
"sukunround-ar",
"sukunoval-ar",
"hahabove-ar",
"seenbelow-ar",
"maddalong-ar",
"yehabove-ar",
"noonabove-ar",
"noonabove-ar.alt",
"rhombusStopbelow-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"meembelow-ar",
"fathaCurly-ar",
"dammaCurly-ar",
"kasraCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"kasratanCurly-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"toneloopabove-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"toneloopbelow-ar",
"openfathatan-ar",
"openfathatan-ar.small",
"opendammatan-ar",
"opendammatan-ar.small",
"openkasratan-ar",
"highwaw-ar",
"fathaRing-ar",
"fathaDotabove-ar",
"kasraDotbelow-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"dammaDot-ar",
"circlebelow-ar",
"alefabove-ar.isol",
"alefabove-ar.medi",
"yehabove-ar.medi",
"highwaw-ar.medi",
overlinecomb,
ring.below,
dash.kaf,
dash.kaf_gaf,
dot.alt1,
twostrokes.below,
yeh.tail,
"endoftext-ar",
"pound-ar",
"piastre-ar",
uniFBC0,
_FDFD,
_arrowhead,
_arrowhead2,
_x,
dot.1,
dot.2,
dot.percent,
smallteh.above
)